<!-- Footer -->
<footer class="footer bg-white  text-white " >
    <!-- Grid container -->
    <div class="container p-4  ">
  
      <!-- Section: Links -->
      <section class="row d-flex justify-content-right">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
            <h5 class="text-uppercase" style="-webkit-text-fill-color: rgb(227, 41, 41);" >Cloud Services</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">Business Application</a>
              </li>
              <li>
                <a href="#!" class="text-black">Cloud Security</a>
              </li>
              <li>
                <a href="#!" class="text-black">Communication and Collaboration</a>
              </li>
              <li>
                <a href="#!" class="text-black">Infrastructure</a>
              </li>
              <li>
                <a href="#!" class="text-black">Storage Solutions</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"style="-webkit-text-fill-color: rgb(227, 41, 41);">Security</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">Endpoint Security</a>
              </li>
              <li>
                <a href="#!" class="text-black">File Security</a>
              </li>
              <li>
                <a href="#!" class="text-black">Gateway Security</a>
              </li>
              <li>
                <a href="#!" class="text-black">Mail Security</a>
              </li>
              <li>
                <a href="#!" class="text-black">Collaboration Security</a>
              </li>
              <li>
                <a href="#!" class="text-black">Virtualization Security</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
            <h5 class="text-uppercase"style="-webkit-text-fill-color: rgb(227, 41, 41);">Company</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">Company overview</a>
              </li>
              <li>
                <a href="#!" class="text-black">Mission</a>
              </li>
              <li>
                <a href="#!" class="text-black">Policies</a>
              </li>
              <li>
                <a href="#!" class="text-black">Contact us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!-- Section: Form -->
      <section class="">
        
          <!--Grid row-->
          
          <div class="row d-flex justify-content-right">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-4">
              <h5 class="text-uppercase"style="-webkit-text-fill-color: rgb(227, 41, 41);">Newsletter</h5>  

            </div>
          </div>
          <!--Grid row-->
          <!--Grid column-->
          <form action="">
            <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-5 col-12">
             
            </div>
            <!--Grid column-->
            <div class="input-group mb-3">
                <input type="text" class="form-control"  aria-label="Recipient's username"aria-describedby="button-addon2" />
                <button class="btn btn-danger" type="button" id="button-addon2" mdbRipple  >
                  Subscribe
                </button>
                
              </div>
              <section class="mb-4 text-black">
                <p>
                    We are Soft trend. Our goal is to translate the positive effects from revolutionizing how companies 
                    engage with their clients & their team
                </p>
              </section>
              
            
        </div>
        </form>
            <!--Grid column-->
            
        
      </section>
      <!-- Section: Form -->
          </div>
          
         
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
      
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="copyright row align-items-center " style="background-color: rgba(170, 166, 166, 0.2);">
        <div class="navbar-logo  justify-content-end" >
            <img src="\assets\images\softyyy.png"  alt="Logo">
          </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!-- watsapp -->
            <a mdbRipple class="btn  btn-floating m-1 " href="#!" role="button" style="background-color: rgba(163, 40, 40, 0.2); color: rgb(198, 50, 50);"
            ><i class="fab fa-whatsapp "></i
            ></a>
            <!-- Linkedin -->
            <a mdbRipple class="btn  btn-floating m-1" href="#!" role="button" style="background-color: rgba(163, 40, 40, 0.2); color: rgb(198, 50, 50);"
            ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Facebook -->
            <a mdbRipple class="btn  btn-floating m-1" href="#!" role="button" style="background-color: rgba(163, 40, 40, 0.2); color: rgb(198, 50, 50);"
              ><i class="fab fa-facebook-f"></i></a>
      
            <!-- Twitter -->
            <a mdbRipple class="btn  btn-floating m-1" href="#!" role="button" style="background-color: rgba(163, 40, 40, 0.2); color: rgb(198, 50, 50);"
            ><i class="fab fa-twitter"></i></a>

            
            </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->