<div class="first-class" style="background-color: white;margin-left: 15px; margin-top: 15px;">
  <ul class="pagination  pagination " style="margin: auto 0;">
      &nbsp;&nbsp;
      <li class="page-item p-2 ">
        <span class="page-link" style="color: black; background-color:rgb(238, 238, 238) ;" href="#">Prev</span>
      </li>
      &nbsp;&nbsp;
      <li class="page-item active" aria-current="page">
        <span class="page-link" style="color:white; background-color:rgb(174, 9, 9) ;" >1
          <span class="visually-hidden">(current)</span>
        </span>
      </li>
      &nbsp;&nbsp;
      <li class="page-item"><a class="page-link" href="">2</a></li>
      &nbsp;&nbsp;
      <li class="page-item"><a class="page-link "  href="">3</a></li>
      &nbsp;&nbsp;
      <li class="page-item"><a class="page-link"  href="">4</a></li>
      &nbsp;&nbsp;
      <li class="page-item"><a class="page-link" href="">5</a></li>
      &nbsp;&nbsp;
      <li class="page-item  p-2 ">
        <span class="page-link " style="color: rgb(161, 161, 161); background-color:rgb(247, 247, 247) ;" href="#">Next</span>
      </li>
    </ul>  
  
</div>



