 .pagination{
    display: flex;
    align-items: center;

  }
  
.first-class {
    width: 1529px;
    left: 101px;
    right: 10px;
    z-index: 1;
    bottom: 20px;
    
    border-radius: 5px;

  }

.page-item a {
    color: black; 
    background-color:rgb(238, 238, 238) ;
  }
  
  .page-item a:hover {
    color:white; 
    background-color:rgb(174, 9, 9) ;
  }
