<div class="sidenav">
    <h5 class="card-title mb-3">Filter by products</h5>
  
    <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> All </label>
    </div>
    <!-- Default checkbox -->
    <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Microsoft 365</label>
    </div>
    <!-- Default checkbox -->
    <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Microsoft Dynamics 365 </label>
    </div>
    <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">Microsoft Power BI</label>
    </div>
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Microsoft Project </label>
    </div>
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Microsoft Flow </label>
    </div>
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Microsoft Visio </label>
    </div>
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Microsoft Windows 10 </label>
    </div>
    <h5 class="card-title mb-3">Filter by offers</h5>
  
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> All</label>
    </div>
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Includes offers</label>
    </div>
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">No offers</label>
    </div>
  </div>
