<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>
  <div class="d-flex flex-grow-1">
    <app-sidebar></app-sidebar>
    <div class="flex-grow-1">
      <app-pagup></app-pagup>
      <div class="d-flex align-items-center flex-grow-1">
        
          <div class="row">
            <!-- Card 1 -->
          <div class="col ">
              <div class="card   ">
                <div class="card-body justify-content-right">
                  <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Add to compare list </label>
    </div>
    <!-- Default checkbox -->
                  <h5 class="card-title  mb-3">Microsoft 365 E3 - Unattended License</h5>
                  <!-- Dropdown -->
                  <div mdbDropdown class=" dropdown mb-4">
                    <a class="dropdown-toggle   " style="color: red;" id="DropdownMenuLink" role="button" mdbDropdownToggle
                      aria-expanded="false">
                      US$ 20.99/month</a>
                    <ul mdbDropdownMenu class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                    </ul>
                  </div>
                  <p class="card-text mb-md-3 justify-content-right">
                    services included in Business Standard plus advanced cyber threat protection For businesses
                    with up to 300 employees
                  </p>
                </div>
      
                <div class="card-btn row-justify-content-center">
                  <a  class="link p-5" routerLink="/card" >x Remove</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Select Qty
                  <button mat-button [matMenuTriggerFor]="menu" style="color: rgb(138, 138, 138);border-width: 2px; border-style:solid; border-color: rgb(244, 244, 244);border-radius: 8px; padding: 7px;">4      <i class="fa fa-chevron-down"></i>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>4</button>
                    <button mat-menu-item>4</button>
                  </mat-menu>
                  
        </div>
              </div>
             
          </div>
           </div>
           <div class="row">
            <!-- Card 2 -->
            <div class="col">
              <div class="card   ">
                <div class="card-body justify-content-right">
                  <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Add to compare list </label>
    </div>
    <!-- Default checkbox -->
                  <h5 class="card-title  mb-3">Microsoft 365 E3 - Unattended License</h5>
                  <!-- Dropdown -->
                  <div mdbDropdown class=" dropdown mb-4">
                    <a class="dropdown-toggle   " style="color: red;" id="DropdownMenuLink" role="button" mdbDropdownToggle
                      aria-expanded="false">
                      US$ 20.99/month</a>
                    <ul mdbDropdownMenu class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                    </ul>
                  </div>
                  <p class="card-text mb-md-3 justify-content-right">
                    services included in Business Standard plus advanced cyber threat protection For businesses
                    with up to 300 employees
                  </p>
                </div>
      
                <div class="card-btn row-justify-content-center">
                  <a  class="link p-5">+ Add-ons</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button mat-button style="color: white; background-color: rgb(192, 46, 46); "routerLink="/cardt">Add To Cart</button>
                </div>
              </div>
              
            </div>
          </div>
          <div class="row">
            <!-- Card 2 -->
            <div class="col">
              <div class="card   ">
                <div class="card-body justify-content-right">
                  <!-- Default checkbox -->
    <div class="form-check mb-3">
      <input mdbCheckbox class="form-check-input shadow-4" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault"> Add to compare list </label>
    </div>
    <!-- Default checkbox -->
                  <h5 class="card-title  mb-3">Microsoft 365 E3 - Unattended License</h5>
                  <!-- Dropdown -->
                  <div mdbDropdown class=" dropdown mb-4">
                    <a class="dropdown-toggle   " style="color: red;" id="DropdownMenuLink" role="button" mdbDropdownToggle
                      aria-expanded="false">
                      US$ 20.99/month</a>
                    <ul mdbDropdownMenu class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">US$ 20.99/month</a>
                      </li>
                    </ul>
                  </div>
                  <p class="card-text mb-md-3 justify-content-right">
                    services included in Business Standard plus advanced cyber threat protection For businesses
                    with up to 300 employees
                  </p>
                </div>
      
                <div class="card-btn row-justify-content-center">
                  <a  class="link p-5" >+ Add-ons</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button mat-button style="color: white; background-color: rgb(192, 46, 46); "routerLink="/cardt">Add To Cart</button>
                </div>
              </div>
              
            </div>
          </div>
          </div>
          <app-paglow></app-paglow>
        </div>
      </div>
    </div>

  <app-footer></app-footer>
