
<div class="first-class row mb-1" style="background-color: white; margin-top: 15px;margin-left: 15px;">
    <div class="col d-flex justify-content-right">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div mdbDropdown class="dropdown ">
 <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton" 
 mdbDropdownToggle aria-expanded="true">
          Sort
        </button>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item " href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div mdbDropdown class="dropdown ">
     <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton" 
     mdbDropdownToggle aria-expanded="true">
              Category
            </button>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item " href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div mdbDropdown class="dropdown ">
         <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton" 
         mdbDropdownToggle aria-expanded="true">
                  Products
                </button>
                <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item " href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
    <div class="col">
      <ul class="pagination  pagination " >
        &nbsp;&nbsp;
        <li class="page-item p-2 ">
          <span class="page-link" style="color: black; background-color:rgb(238, 238, 238) ;" href="#">Prev</span>
        </li>
        &nbsp;&nbsp;
        <li class="page-item active" aria-current="page">
          <span class="page-link" style="color:white; background-color:rgb(174, 9, 9) ;" >1
            <span class="visually-hidden">(current)</span>
          </span>
        </li>
        &nbsp;&nbsp;
        <li class="page-item"><a class="page-link" href="">2</a></li>
        &nbsp;&nbsp;
        <li class="page-item"><a class="page-link "  href="">3</a></li>
        &nbsp;&nbsp;
        <li class="page-item"><a class="page-link"  href="">4</a></li>
        &nbsp;&nbsp;
        <li class="page-item"><a class="page-link" href="">5</a></li>
        &nbsp;&nbsp;
        <li class="page-item  p-2  ">
          <span class="page-link " style="color: rgb(161, 161, 161); background-color:rgb(247, 247, 247) ;" href="#">Next</span>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>  
  </div>
</div>
  
 